/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratVariableFont.ttf') format('ttf');
}

$body-font-family: 'Montserrat';

$typoOptions: text-h1, text-h2, text-h3, text-h4, text-h5, text-h6, text-subtitle-1, text-subtitle-2,
  text-body-1, text-body-2, text-button, text-caption, text-overline;

#app {
  font-family: $body-font-family, sans-serif !important;
  @each $typoOption in $typoOptions {
    .#{$typoOption} {
      font-family: $body-font-family, sans-serif !important;
    }
  }
}
